{% load staticfiles %}

<!DOCTYPE html>
<html>
	<style>
	svg {
	  position: relative;
	}

	path:hover {
	  fill: brown;
	  fill-opacity: .2;
	}
	
	</style>
	<head>
	    <meta charset="utf-8">
	    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	     <title> My FlowMap </title>
	</head>
	<body>
		<div id="map" style="width: 100%; height: 100%; position: fixed; padding:0; margin:0; top:0; left:0">
			<div style="font-family: Lucida Grande,Helvetica,Arial,Verdana,sans-serif; font-size: 14px; 
				position: absolute; left: 30px; bottom: 20px; z-index: 100; padding: 5px; 
				border: 2px solid #666666; border-radius: 5px; background-color: white;">
	        <div id="legend"/>
        </div>
		
		<script src="{{ STATIC_URL }}visflow/JS/leaflet.js"></script>
		<script src="{{ STATIC_URL }}visflow/JS/d3.v3.min.js"></script>
		<script src="{{ STATIC_URL }}visflow/JS/jquery-1.11.0.min.js"></script>
		<script src="{{ STATIC_URL }}visflow/JS/simple_statistics.mini.js"></script>
		<script>
			var map_option = "stamen_blackandwhite" ; // "stamen_blackandwhite"
			var ageoption = "allage"; // "allage"; "above65"
			var classification = "quantile"; // quantile, quantize, jenks)
			var colorramp = "redgreenblue"; // redgreenblue, redyellow, redyellow2, redgreen, redgreen2, redblue, redblue2
			
			var map;
			if (map_option == "openstreetmap"){
				map = L.map('map').setView([37.8, -96.9], 5);
				L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
				maxZoom: 18,
				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
					'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery ? <a href="http://mapbox.com">Mapbox</a>',
				id: 'examples.map-i86knfo3'
				}).addTo(map);
			}
			else if(map_option == "stamen_blackandwhite"){
			 	map = new L.Map('map', {
			    	center: new L.LatLng(37.8, -96.9),
			    	zoom: 5,
			    	layers: new L.TileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png'), 
				});
			}
			else if(map_option == "blankmap"){
				map = new L.Map("map", {center: [37.8, -96.9], zoom: 5})
    				.addLayer(new L.TileLayer("http://{s}.tiles.mapbox.com/v3/examples.map-vyofok3q/{z}/{x}/{y}.png"));
			}
			else{	// google maps
				//src="http://maps.google.com/maps/api/js?v=3.2&sensor=false";
			 	map = L.map('map').setView([37.8, -96.9], 5);
			 	var googleLayer = new L.Google('ROADMAP');
			 	map.addLayer(googleLayer);
			}

			var svg_cnty = d3.select(map.getPanes().overlayPane).append("svg"),
				svg_flow = d3.select(map.getPanes().overlayPane).append("svg"),
			    g_cnty = svg_cnty.append("g").attr("class", "leaflet-zoom-hide");
			    g_flow = svg_flow.append("g").attr("class", "leaflet-zoom-hide");
			
			//draw county boundary //continental_cnty_simplified; us-states
			d3.json("{{ STATIC_URL }}visflow/GeoJSON/continental_cnty_simplified.json", function(collection) {
			  var transform = d3.geo.transform({point: projectPoint}),
			      path = d3.geo.path().projection(transform);
				
			  var feature = g_cnty.selectAll("path")
			      .data(collection.features)
			    .enter().append("path")
			    .attr("stroke", "#D8D8D8")
			    .attr("fill", "#011")
			    .attr("fill-opacity", ".05")
			    .attr("stroke-width", "1px");
			    
			  map.on("viewreset", reset);
			  reset();
			  // Reposition the SVG to cover the features.
			  function reset() {
			    var bounds = path.bounds(collection),
			        topLeft = bounds[0],
			        bottomRight = bounds[1];
			        
			    svg_cnty .attr("width", bottomRight[0] - topLeft[0])
			        .attr("height", bottomRight[1] - topLeft[1])
			        .style("left", topLeft[0] + "px")
			        .style("top", topLeft[1] + "px");
			
			    g_cnty.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
			    feature.attr("d", path);
			  }
			});
			
			// Use Leaflet to implement a D3 geometric transformation.
			function projectPoint(x, y) {
			  point = map.latLngToLayerPoint(new L.LatLng(y, x));
			  return this.stream.point(point.x, point.y);
			}
			
			//draw flows // sig_flowtable_allage_allm;  sig_flowtable_above65_allm
			var flowjsonurl = "{{ STATIC_URL }}visflow/GeoJSON/";
			if (ageoption == "above65") flowjsonurl += 'sig_flowtable_above65_allm.json';
			else if (ageoption == "allage") flowjsonurl += 'sig_flowtable_allage_allm.json';
			else {ageoption = "above65"; flowjsonurl += 'sig_flowtable_above65_allm.json';}
				
			d3.json(flowjsonurl, function(collection) {
			  var transform = d3.geo.transform({point: projectPoint}),
			      path = d3.geo.path().projection(transform);
			  
			  var opacity_value = 0.6;
			  var destcolor = "#FF0000", origincolor = "#FFCC00";
			  var getwidth = function(c){return c*0.2+2;}
			  
			  // get classifications
			  var volumes = [];
			  for (i in d3.range(collection.features.length)){volumes.push(collection.features[i].properties.volume);}
			  var getclass;
			  if (classification == "jenks") getclass = d3.scale.threshold().domain(ss.jenks(volumes.map(function(d) { return +d; }), 5).slice(1,-1)).range(d3.range(5));
			  else if (classification == "quantize") getclass = d3.scale.quantize().domain(volumes).range(d3.range(5));
			  else if (classification == "quantile") getclass = d3.scale.quantile().domain(volumes).range(d3.range(5));
			  else getclass = d3.scale.quantile().domain(volumes).range(d3.range(5));
			  
			  // draw legend
			  var html = "", inverted, labeltext, legend = document.getElementById("legend");
			  html += '<div style="padding: 6px; text-align: center;">Log(GLR)</br>' 
			  if (ageoption == "above65"){ // "allage"; "above65"
			  	html += " (age above65)";}
			  else if (ageoption == "allage"){
			  	html += " (all age groups)";}
			  html += '</div>';
			  
			  for (r in getclass.range()){
			  		inverted = getclass.invertExtent(parseInt(r));
			  		if (r == 0) labeltext = parseInt(parseInt(d3.min(volumes))) + " - " + parseInt(inverted[1]);
			  		else if (r == 4) labeltext = parseInt(inverted[0]) + " - " + parseInt(parseInt(d3.max(volumes)));
			  		else labeltext = parseInt(inverted[0]) + " - " + parseInt(inverted[1]);
					html += '<div><svg width="50" height="24">' +
                            '<path d="M 2 21 l 0 0.01 l 20 0.01 l 20 0 Z" stroke=url(#lg_toleft_' + r + ') stroke-width=' + getwidth(parseInt(r))*4 + ' />' +
                            '</svg>' + '<span>        ' + labeltext + '</span>' + '</div>';
			  }
			  legend.innerHTML = legend.innerHTML + html;

			  // build the arrow
			  svg_flow.append("svg:defs").selectAll("marker")
			      .data(["end-arrow"])
			    .enter().append("svg:marker")
			      .attr("id", String)
			      .attr("viewBox", "0 0 10 10")
			      .attr("refX", 10)
			      .attr("refY", 5)
			      .attr("markerWidth", 6)
			      .attr("markerHeight", 6)
			      .attr("orient", "auto")
			      .attr("stroke", destcolor)
			      .attr("fill", destcolor)
			      .attr("stroke-linejoin", "round")
			      .attr("stroke-opacity", opacity_value)
			      .attr("fill-opacity", opacity_value)
			    .append("svg:path")
			      .attr("d", "M0,0L10,5L2,5.5");
			  
			  // draw linear gradient  #3399cc, #99cc99, "#cccc99", "#ffff66", "#ffcc33", "#ff6633", "#ff0000"
			  if (colorramp == "redgreenblue") destcolor = ["#0099FF", "#66CCFF", "#99FF66", "#ff6633", "#ff0000"]; //red to green to blue
			  else if (colorramp == "redyellow") destcolor = ["#FFFF00", "#FED000", "#FC8B00", "#FB4500", "#FA0000"]; // red to yellow
			  else if (colorramp == "redyellow2") destcolor = ["#FFF300", "#FFB900", "#FF8000", "#FF3000", "#D02E2E"]; // red to yellow2
			  else if (colorramp == "redgreen") destcolor = ["#8BFF00", "#E7FF00", "#FDB900", "#FB5C00", "#FA0000"]; // red to green
			  else if (colorramp == "redgreen2") destcolor = ["#45FF00", "#A2FF00", "#FEE700", "#FC7300", "#FA0000"]; // red to green2
			  else if (colorramp == "redblue") destcolor = ["#4580B9", "#B98045", "#FF7400", "#FF3A00", "#FF0000"]; // red to blue
			  else if (colorramp == "redblue2") destcolor = ["#00FFFF", "#FFF300", "#FF7400", "#FF3A00", "#FF0000"]; // red to blue
			  else destcolor = ["#8BFF00", "#E7FF00", "#FDB900", "#FB5C00", "#FA0000"];
			  
			  origincolor = destcolor;//["#FF0000", "#FF0000", "#FF0000", "#FF0000", "#FF0000"];
			  var destopacity = 1.0, originopacity = 0.6;
			  var mylinearGradient;
			  for (i in d3.range(5)){
				  mylinearGradient = [{"id": "lg_toleft_" + i, "x1": "0%", "x2": "100%", "y1":"0%", "y2":"0%", 
				  								"stop": [{"offset": "10%", "color": origincolor[i], "stopopacity": originopacity}, 
				  										{"offset": "90%", "color": destcolor[i], "stopopacity": destopacity}]},
				  					  {"id": "lg_toright_" + i, "x1": "10%", "x2": "100%", "y1":"0%", "y2":"0%",
				  						  		"stop": [{"offset": "10%", "color": destcolor[i], "stopopacity": destopacity}, 
				  						  				{"offset": "90%", "color": origincolor[i], "stopopacity": originopacity}]},
				  					  {"id": "lg_toup_" + i, "x1": "0%", "x2": "0%", "y1":"0%", "y2":"100%",
				  						  		"stop": [{"offset": "10%", "color": destcolor[i], "stopopacity": destopacity}, 
				  						  				{"offset": "90%", "color": origincolor[i], "stopopacity": originopacity}]},
				  					  {"id": "lg_tobottom_" + i, "x1": "0%", "x2": "0%", "y1":"0%", "y2":"100%",
				  						  		"stop": [{"offset": "10%", "color": origincolor[i], "stopopacity": originopacity}, 
				  						  				{"offset": "90%", "color": destcolor[i], "stopopacity": destopacity}]}]
				  svg_flow.append("svg:defs").selectAll("linearGradient")
					      .data(mylinearGradient)
				    	.enter().append("svg:linearGradient")
				    	.attr("id", function(d) { return d.id; })
				    	.attr("x1", function(d) { return d.x1; })
				    	.attr("x2", function(d) { return d.x2; })
				    	.attr("y1", function(d) { return d.y1; })
				    	.attr("y2", function(d) { return d.y2; })
					    .selectAll("stop")
					      .data(function(d) { return d.stop; })
					      .enter().append("stop")
	     				  .attr("offset", function(d) { return d.offset; })
	      				  .attr("stop-color", function(d) { return d.color; })
	      				  .attr("stop-opacity", function(d) { return d.stopopacity; });
      		}
			  	
			  var feature = g_flow.selectAll("path")
			      .data(collection.features)
			    .enter().append("path")
			    .attr("stroke", function(d){
			    			var distx = d.geometry.coordinates[0][0] - d.geometry.coordinates[1][0],
			    				disty = d.geometry.coordinates[0][1] - d.geometry.coordinates[1][1];
			    			var return_url;
			    			if (Math.abs(distx) > Math.abs(disty)) 
			    				{if (distx > 0) return_url = "url(#lg_toright"; else return_url = "url(#lg_toleft";}
			    			else
			    				{if (disty > 0) return_url = "url(#lg_tobottom"; else return_url = "url(#lg_toup";}
			    			//console.log(getclass(d.properties.volume));
			    			return return_url + '_' + getclass(d.properties.volume) + ")";
			    			})
			    .attr("stroke-linejoin", "round")
			    .attr("fill", "none")
			    .attr("stroke-opacity", opacity_value)
			    .attr("stroke-width", function(d){return getwidth(getclass(d.properties.volume));});
			    //.attr("marker-end", "url(#end-arrow)");
			  
			  //var l = feature[0][0].node().getTotalLength();
			  //feature
			  		//.transition()
			    	//.duration(5000)
			    	//.delay(1000)
			    	//.attr("stroke-opacity", 1.0);
			  
			  function determinerelativecontrolpt(x1, y1, x2, y2, n, m){ 
			  	// n * distance(start_pnt, end_pnt): distance from ctl pnt to start pnt along straight line between start and end points
			  	// m * distance(start_pnt, end_pnt): distance from ctl pnt to the straight line between start and end points
			  	return {x: n * (x2- x1) + m * (y2 - y1), y: n * (y2- y1) - m * (x2 - x1)}
			  }
			  
			  var path2 = function(d){ var pt0 = projectionpoint2(d.geometry.coordinates[0][0], d.geometry.coordinates[0][1]);
			    						var pt1 = projectionpoint2(d.geometry.coordinates[1][0], d.geometry.coordinates[1][1]);
			    						var distx = pt1.x-pt0.x, disty = pt1.y-pt0.y;
										var ptctl = determinerelativecontrolpt(pt0.x, pt0.y, pt1.x, pt1.y, 1/6, -1/8),
											ptct2 = determinerelativecontrolpt(pt0.x, pt0.y, pt1.x, pt1.y, 1/3, -1/8);
										var ptct3 = determinerelativecontrolpt(pt1.x, pt1.y, pt0.x, pt0.y, 1/15, 1/30);
										return "M" + pt0.x + "," + pt0.y + " c" + ptctl.x + "," + ptctl.y + " " + ptct2.x + "," + ptct2.y
											+ " " + distx + "," + disty + " l" + ptct3.x + "," + ptct3.y;
			    						}
			  
			  function projectionpoint2(x, y) {
			  	return map.latLngToLayerPoint(new L.LatLng(y, x));
		      } 
			  
			  map.on("viewreset", reset);
			  reset();
				
			  // Reposition the SVG to cover the features.
			  function reset() {
			    var bounds = path.bounds(collection),
			        topLeft = bounds[0],
			        bottomRight = bounds[1];

			    svg_flow .attr("width", bottomRight[0] - topLeft[0])
			        .attr("height", bottomRight[1] - topLeft[1])
			        .style("left", topLeft[0] + "px")
			        .style("top", topLeft[1] + "px");
			
			    g_flow.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
			    //feature.attr("d", path);
			    feature.attr("d", path2);
			  }
			});
			
		</script>
	</body>
</html>